@import "bourbon";
@import "neat";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
//@import "components/icons-material-design";
//@import "components/grid";
//@import "components/navbar";
@import "components/roboto";
@import "components/typography";
//@import "components/cards";
@import "components/toast";
//@import "components/tabs";
//@import "components/tooltip";
//@import "components/buttons";
//@import "components/dropdown";
@import "components/waves";
//@import "components/modal";
//@import "components/collapsible";
//@import "components/chips";
//@import "components/materialbox";
//@import "components/form";
//@import "components/table_of_contents";
//@import "components/sideNav";
//@import "components/preloader";
//@import "components/slider";
//@import "components/date_picker/default.scss";
//@import "components/date_picker/default.date.scss";
//@import "components/date_picker/default.time.scss";

//@media screen and (max-width:320px) {html{font-size: 80%;}}
//@media screen and (min-width:321px) and (max-width:360px) {html{font-size: 70.3125%;}}
//@media screen and (min-width:361px) and (max-width:480px) {html{font-size: 93.75%;}}
//@media screen and (min-width:481px) and (max-width:640px) {html,body{font-size: 125%;}}
//@media screen and (min-width:641px) and (max-width:800px) {html{font-size: 156.25%;}}
//@media screen and (min-width:801px) and (max-width:960px) {html{font-size: 187.5%;}}
//@media screen and (min-width:961px) {html{font-size: 218.75%;}}

html{font-size:10px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:12px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:14px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:16px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px) and (max-width: 959px){html{font-size:25px}}
@media screen and (min-width:960px){html{font-size:25px}}

body {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  background-image: url('../images/bg.jpg');
  font-smoothing: antialiased;
}

.head {
  position: relative;
  display: block;
  width: 100%;
  height: 7.1875rem;
  background: url("../images/header-bg.png") repeat-x;
  background-size: contain;

  .logo {
    position: relative;
    height: 100%;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    span {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 1.5625rem;
      h1 {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        color: #ffffff;
        margin: 0 auto;
      }
    }
    img {
      position: absolute;
      width: 100%;
      vertical-align: bottom;
      left: 0;
      bottom: 1.5625rem;
    }
  }

  .user {
    position: absolute;
    right: 1.5625rem;
    bottom: 1.5625rem;
    width: 2rem;
    height: 2rem;
    background: url("../images/user.png") no-repeat;
    background-size: cover;
  }
  .back {
    position: absolute;
    left: 1.5625rem;
    bottom: 1.5625rem;
    width: 2rem;
    height: 2rem;
    background: url("../images/back.png") no-repeat;
    background-size: cover;
  }

  .home {
    position: absolute;
    right: 1.5625rem;
    bottom: 1.5625rem;
    width: 2rem;
    height: 2rem;
    background: url("../images/home.png") no-repeat;
    background-size: cover;
  }
}

.nav {
  position: relative;
  height: 5rem;
  line-height: 5rem;
  background: url("../images/nav-bg.png") repeat-x;
  background-size: 1px;

  .title {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
  }
}

.stores {
  position: relative;
  padding: 0.625rem 0;
  .store {
    position: relative;
    @include display(flex);
    @include flex-direction(row);
    width: 98%;
    background: #ffffff;
    border-radius: 0.3125rem;
    margin: 0.625rem auto;
    padding: 0.9375rem;
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }
    
    .image {
      width: 6.875rem;
      height: 6.875rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.125rem;
      }
      float: left;
      margin-right: 0.625rem;
    }

    .divider {
      width: 0.125rem;
      height: 6.125rem;
      margin: 0.375rem auto;
      float: left;
    }

    .content {
      position: relative;
      font-size: 1.125rem;
      float: left;
      margin-left: 0.625rem;
      @include flex(1);
      .title {
        margin: 0.375rem 0;
        font-weight: bold;
      }
      .desc {
        margin-top: 0.375rem;
        color: #9fa0a0;
      }
      .mobile {
        margin-top: 0.375rem;
        color: #9fa0a0;
      }
    }
    .arrow-right {
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: 1.25rem;
      bottom: 1.25rem;
      background-image: url("../images/arrow-right-green.png");
      background-size: cover;
    }
  }
}

.store-info {
  width: 98%;
  background: #ffffff;
  border-radius: 0.3125rem;
  margin: 0.625rem auto;
  padding: 0.9375rem;
  overflow: hidden;

  .image {
    width: 6.25rem;
    height: 6.25rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.125rem;
    }
    float: left;
    margin-right: 0.625rem;
  }

  .content {
    position: relative;
    font-size: 1.25rem;
    float: left;
    margin-left: 0.625rem;
    .address {
      position: relative;
      color: #9fa0a0;
      height: 2.5rem;
      line-height: 2.5rem;
      padding-left: 2.125rem;
      .pin-icon {
        position: absolute;
        left: 0;
        top: 0.25rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: url("../images/pin.png");
        background-size: cover;
      }
    }
    .divider {

    }
    .mobile {
      position: relative;
      color: #9fa0a0;
      height: 2.5rem;
      line-height: 2.5rem;
      padding-left: 2.125rem;
      .phone-icon {
        position: absolute;
        left: 0;
        top: 0.25rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: url("../images/phone.png");
        background-size: cover;
      }
    }
  }
}

.courses {
  position: relative;
  width: 98%;
  background: #ffffff;
  border-radius: 0.3125rem;
  margin: 1.5625rem auto;
  padding: 0.9375rem;

  .triangle {
    position: absolute;
    top: 0.875rem;
    right: 0.9375rem;
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-bottom: 0.9375rem solid #ffffff;
  }

  .date-tab {
    @include outer-container;

    li {
      @include span-columns(4);
      @include omega(3n);
      text-align: center;

      .item {
        color: #9fa0a0;
        padding: 0.625rem 0.5rem 0.625rem 0.5rem;
        border-radius: 0.3125rem;

        &.active {
          color: #ffffff;
          background-color: #8cc23d;
        }
      }
    }
  }

  .today, .tomorrow, .day-after-tomorrow {
    display: none;

    &.show {
      display: block;
    }
  }

  .course {
    height: 3.5rem;
    line-height: 3.5rem;

    .name {
      font-size: 1.25rem;
      margin-left: 0.625rem;
    }
    .time {
      font-size: 1.125rem;
      color: #9fa0a0;
      vertical-align: bottom;
      margin-left: 0.625rem;
    }
    .group {
      float: right;
      .button {
        line-height: 3.125rem;
        border: 1px solid #8cc23d;
        border-radius: 0.3125rem;
        color: #8cc23d;
        padding: 0.5rem 0.625rem 0.5rem 0.625rem;
      }
    }

  }
}

.course-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  overflow: auto;
  .container {
    margin: 8rem 1rem;
    background-color: #ffffff;
    border-radius: .25rem;
    header {
      position: relative;
      background-color: #7ebf41;
      height: 3.5rem;
      line-height: 3.5rem;
      .title {
        margin: 0;
        padding-left: 1rem;
        color: #ffffff;
        font-size: 1rem;
        line-height: 3.5rem;
      }
      .close-icon {
        position: absolute;
        right: 1rem;
        top: .7rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: url("../images/close-white.png");
        background-size: cover;
      }
    }

    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .detail-info {
      overflow: hidden;
      padding-left: 1rem;
      line-height: 3rem;
      p {
        color: #9fa0a0;
        font-size: 1.325rem;
      }
      padding-bottom: 1rem;
    }

  }
}

.members-login {
  position: relative;
  margin: 0.625rem auto;
  text-align: center;
  width: 25rem;
  height: 21.75rem;
  background-image: url("../images/members-bg.png");
  background-size: cover;

  .members-tab {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 5rem;
    top: 1.125rem;
    font-size: 1.375rem;
    color: #ffffff;
  }

  .non-members-tab {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 16.5rem;
    top: 1.125rem;
    font-size: 1.375rem;
    color: #9fa0a0;
  }
}

.non-members-login {
  position: relative;
  margin: 0.625rem auto;
  text-align: center;
  width: 25rem;
  height: 21.75rem;
  background-image: url("../images/non-members-bg.png");
  background-size: cover;

  .members-tab {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 5rem;
    top: 1.125rem;
    font-size: 1.375rem;
    color: #9fa0a0;
  }

  .non-members-tab {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 16.5rem;
    top: 1.125rem;
    font-size: 1.375rem;
    color: #ffffff;
  }
}

.members-login form, .non-members-login form {
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
  .control {
    display: block;
    margin: 0 auto;
    height: 1.5625rem;
    line-height: 1.5625rem;
    padding: 1.25rem;
    label {
      display: inline-block;
      width: 33.33%;
      font-size: 1rem;
      text-align: right;
      float: left;
      padding-right: 0.625rem;
    }

    input {
      display: inline-block;
      width: 66.66%;
      border: 1px solid #8cc23d;
      border-radius: 0.3125rem ;
      height: 1.5625rem;
      float: left;

      &.otp {
        width: 33.33%;
      }
    }

    .otp-btn {
      width: 33.33%;
      color: #8cc23d;
      background: transparent;
      outline: none;
      border: 0;
      font-size: rem(15px);
    }

    #postFormBtn {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
      border: 1px solid #8cc23d;
      border-radius: 0.3125rem;
      background: #8cc23d;
      color: #ffffff;
      outline: none;
    }
  }
}


.member-info {
  position: relative;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
  ul {
    position: absolute;
    top: 1.25rem;
    left: 3rem;
    list-style-type: none;
    li {
      color: #ffffff;
      font-size: 1.25rem;
    }
  }
}

.members-menu {
  position: relative;
  width: 96%;
  background: #e3e4e4;
  border-radius: .625rem;
  margin: 1rem auto;
  padding: 1rem;
  .content {
    width: 100%;
    background: #fcfbf8;
    border-radius: .625rem;
    margin: 0 auto;
    padding: 1rem;
    .item {
      display: block;
      position: relative;
      width: 90%;
      margin: 0 auto;
      padding: 1rem;
      border-bottom: .125rem solid #c6c4c3;
      span {
        font-size: 1.25rem;
        padding-left: .5rem;
        color: #9fa0a0;
      }

      .arrow-right-green-circle {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 2rem;
        height: 2rem;
        background: url("../images/arrow-right-green-circle.png") no-repeat;
        background-size: cover;
      }
    }
  }
}

.reserves {

  .reserve {
    position: relative;
    border-radius: .5rem;
    background: #e3e4e4;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    .title {
      height: 3em;
      line-height: 3rem;
      margin: 0 1rem 0 5rem;

      h5 {
        font-size: 1.125rem;
        font-weight: normal;
        margin: 0;
      }

      &.history {
        h5 {
          color: #afb0b0;
        }
      }

      border-bottom: .125rem solid #9e9e9e;
    }
    .content {
      color: #afb0b0;
      font-size: 1.125rem;
      height: 3rem;
      line-height: 3rem;
      margin: 0 1rem 0 5rem;

      button {
        display: inline-block;
        overflow: hidden;
        float: right;
        color: #7ebf41;
        padding: 0 em(10px) 0 em(10px);
        margin: em(5px) 0 em(5px) 0;
        height: em(32px);
        line-height: em(32px);
        background: transparent;
        outline: none;
        border: 1px solid #7ebf41;
        border-radius: .3125rem;
        &:disabled {
          color: #9fa0a0;
          border: 1px solid #9fa0a0;
        }
      }
    }

    .tag-status {
      position: absolute;
      left: .125rem;
      top: -.5rem;
      display: inline-block;
      width: 4.375rem;
      height: 3.625rem;
      background-image: url("../images/new.png");
      background-size: cover;
      &.history {
        background-image: url("../images/history.png");
      }
    }
  }
}