@import "bourbon";
@import "neat";

#sub-header {
  margin-top: 3.28571429em;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.logo {
  width: em(300px);
  height: em(36px);
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.hide {
  display: none;
}