@import "bourbon";
@import "neat";

#sub-header {
  margin-top: 3.28571429em;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.logo {
  width: em(300px);
  height: em(36px);
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: em(150px);
    height: em(18px);
  }
}

.hide {
  display: none;
}

.drag-course {
  position: relative;
  display: block;
  font-size: .85em;
  line-height: 1.3;
  border-radius: 3px;
  border: 1px solid #3a87ad;
  background-color: #3a87ad;
  font-weight: 400;
  margin: 1px 2px 0;
  padding: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  box-sizing: content-box;
}

#calendar {
  width: 100%;
}